/* ================= SLIDER ANIMATIONS ================= */

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:host .animate-fade-slide {
  animation: fadeSlideUp 0.7s ease-out forwards;
}

:host .animate-fade-delayed {
  animation: fadeSlideUp 1s ease-out forwards;
}
